@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lobster+Two:wght@400;700&display=swap');

@font-face {
  font-family: 'chunq';
  src: url('./public/fonts/Chunq.ttf');
}
@font-face {
  font-family: 'demonized';
  src: url('./public/fonts/Demonized.ttf');
}

:root {
  --bg: #0a0404;
  --red: #d60000;
  --red-dark: #8d0000;
  --white: #f8f5f2;
  --black: #050202;
  --muted: #d9d0cc;
  --border: #000000;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: var(--white);
  justify-content: center;
}

.home-box{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-box h2{
  font-size: 60px;
  font-family: chunq;
  letter-spacing: 2.5px;
  animation: intro-nome 3s forwards;
}

.home-box h2 b{
  color: var(--red);
}

@keyframes intro-nome {
  from{letter-spacing: -15px;}
  to{ letter-spacing: 2px;}
}

.home-box p{
  width: 100%;
  text-align: center;
  font-family: fantasy;
  letter-spacing: 1px;
  color: var(--muted);
  font-size: 0px;
  animation: intro-descricao 2s forwards 2s;
}

@keyframes intro-descricao {
  from{font-size: 0px;}
  to{font-size: 18px;}
}

.home-box .linha{
  text-decoration: none;
  cursor: pointer;
  width: 0%;
  height: 0px;
  font-size: 0px;
  background-color: white;
  margin: 10px 0px;
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: .5s;
  padding: 5px 0px;
  animation: intro-linha 2s forwards 3s;
}

@keyframes intro-linha {
  0%{width: 0px; height: 0px; font-size: 0px;}
  25%{width: 50%; height: 0px; font-size: 0px;}
  50%{width: 50%; height: 25px; font-size: 0px;}
  100%{width: 70%; height: 25px; font-size: 18px;}
}

.home-box .linha:hover{
  background-color: var(--red-dark);
  color: var(--muted);
}

#projetos{
  flex-direction: column;
}

.projetos-box{
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lista-projetos{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.habilidades{
  width: 100% !important;
  border-radius: 0px 5px 10px 0px !important;
  transform: skewY(-3deg);
  justify-content: start !important;
  align-items: start !important;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.projeto{
  text-decoration: none;
  color: white;
  margin: 20px;
  border: 3px solid white;
  border-radius:20px;
  min-width: 30%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: demonized;
  box-sizing: border-box;
  padding: 10px;
}

.projeto:nth-child(1){
  height: 220px;
  margin-top: 5px;
  border-radius: 10px !important;
  transform: skewY(-3deg);
}

.projeto:nth-child(2){
  border-radius: 10px !important;
  height: 250px;
  margin-top: -10px;
  transform: skewY(-3deg);
}

.projeto:nth-child(3){
  border-radius: 10px 20px !important;
  height: 300px;
  margin-top: -25px;
  transform: skewY(-3deg);
}

.projeto .img-card{
  width: 50%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}

.titulo-secao{
  width: 80%;
  height: 25px;
  font-size: 25px;
  /* background-color: var(--red-dark); */
  transform: skewY(-3deg);
  margin: 10px auto;
  font-family: demonized;
}

.title-proj{
  width: 100%;
  font-size: 20px;
  padding: 0px;
  border-bottom: 5px solid var(--red-dark);
  margin-bottom: 5px;
}
.title-proj b{
  color: var(--red);
}

.skills{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.img-icone-hab{
  width: 65px;
  height: 65px;
  margin: 3px;
  border-radius: 10px;
  object-fit: cover;
}

.habilidades:hover > .play{
  opacity: 1;
}

.habilidades .play{
  width: 100%;
  opacity: 0;
  height: 100%;
  top: 0px;
  transition: .7s;
  left: 0px;
  position: absolute;
  border-radius: 10px;
  background-color: #d9d0cc8c;
}

.habilidades .play::after{
  content: '▶︎';
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #8d000079;
}

.habilidades.jogavel{
  width: 100% !important;
  height: 100% !important;
  z-index: 99;
  position: absolute;
  transform: skewY(0deg);
  border: none;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgb(37, 37, 37);
}

.habilidades.jogavel:hover > .play{
  display: none;
}

.habilidades.jogavel canvas{
  width: 80%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

.habilidades.jogavel .btns-game{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.habilidades.jogavel .btns-game div{
  padding: 10px;
  background-color: var(--red-dark);
  color: white;
  border-radius: 10px;
  margin-bottom: 3px;
}


#contato{
  background-color: var(--red-dark);
  min-height: 200px !important;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: relative;
}

#contato footer{
  width: 100%;
  z-index: 4;
  height: 90%;
  margin-top: 30px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 20px;
}

#contato::after{
  display: block;
  content: '';
  z-index: 3;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 50px;
  background-color: var(--red-dark);
  transform: skewY(2deg);
}

footer a.img{
  width: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a img{
  width: 50px;
}

footer .contatos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a{
  text-decoration: none;
  color: var(--muted);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--bg);
  width: 70%;
  margin: 3px 0px;
  padding: 8px 5px;
  border-radius: 10px;
  transition: .7s;
}

footer a:hover{
  background-color: var(--muted);
  color: var(--black);
}

.desenvolvimento{
  width: 100%;
  /* margin-top: 30px; */
  background-color: var(--bg);
  font-size: 15px;
  color: var(--muted);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

@media screen and (max-width: 767px){
  .home-box{
    width: 95%;
  }
  .home-box h2{
    text-align: center;
    width: 100%;
    font-size: 45px;
  }

  .projeto.habilidades{
    width: 95%;
    height: max-content;
  }
  .lista-projetos{
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: calc(400px * 3);
  }
  .projeto{
    width: 100%;
    margin: 20px 0px !important; 
  }
  .projeto .img-card{
    height: 70%;
  }
}