@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 1.8px;
  font-style: normal;
  margin: 0px;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.central {
    width: 30%;
    height: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.central p{
    width: 100%;
    padding: 0px 50px;
}

.efeito{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.efeito i{
    cursor: pointer;
    color: white !important;
    font-size: 20px;
    margin: 0px 10px;
    transition: 0.7s;
}

.linha{
    width: 200px;
    height: 2px;
    background-color: white;
}

.efeito i:hover{
    font-size: 30px;
    margin: 0px 15px;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game{
    flex-direction: row !important;
}

.menu{
    width: 20%;
    height: 95%;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.menu .opcao{
    width: 90%;
    height: 100px;
    margin: 10px 0px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    transition: 0.8s;
}

.menu .opcao.selecionado{
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.menu .opcao:hover{
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 35px;
}

.render{
    position: relative;
    width: 75%;
    height: 92%;
    border: 2px solid white;
    border-radius: 10px;
}

.render .titulo{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    color: white;
    font-size: 55px;
}

.lista-habilidades{
    width: 100%;
    height: max-content;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
}

.item{
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.item img{
    width: 80%;
}

.btn-jogar-h{
    width: 250px;
    height: 50px;
    background-color: white;
    color: black;
    margin: 40px auto;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nave{
    width: 50px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    /* height: ; */

}

.projeto{
    width: 95%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.info{
    width: 70%;
    height: 100%;
    padding: 0px 20px;
    color: white !important;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: justify;
}
.btns{
    width: 20%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btns a{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    color: black !important;
}

.jogo{
    margin: 5px auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}   

.jogo img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 1px solid white;
}

.jogo .info{
    width: calc(100% - 150px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.jogo .info h3{
    font-size: 35px;
    text-align: start;
}

.jogo .info p{
    width: 100%;
    font-size: 20px;
    text-align: start;
}

.tag{
    width: max-content;
    height: max-content;
    text-align: center;
    padding: 5px 10px;
    color: black;
    border-radius: 10px;
    margin: 5px 8px;
    box-sizing: border-box;
    background-color: white;
}

.btn-jogar{
    cursor: pointer;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: blue;
    color: white;
    font-weight: bold;
    margin: 5px 0px;
}

.tag-btns{
    width: 100%;
    height: 40px;
}

.turma{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 15px auto;
}

.nome-turma{
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 2px solid white;
    border-radius: 10px;
}

.turma .curso{
    font-size: 25px;
}

.turma .disciplinas{
    width: 100%;
    display: flex;
    align-items: center;
}

canvas{
    border-radius: 7px;
}

/* Container dos cards */
#container-projetos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    font-family: sans-serif;
}

/* Estrutura principal do Card */
.card {
    display: flex;
    background-color: #212529; /* Cor dark do Bootstrap */
    color: white;
    border: 1px solid #373b3e;
    border-radius: 8px;
    overflow: hidden;
    max-width: 540px;
}

/* Área da Sigla (substituindo a imagem) */
.card-sigla {
    background-color: #6c757d; /* Cinza secundário */
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Conteúdo do Card */
.card-conteudo {
    padding: 16px;
    flex: 1;
}

.card-titulo {
    margin: 0 0 8px 0;
    font-size: 1.25rem;
}

.card-descricao {
    margin: 0 0 12px 0;
    color: #adb5bd;
    font-size: 0.95rem;
    line-height: 1.4;
}

.card-footer {
    font-size: 0.85rem;
    color: #6c757d;
}

/* Responsividade para telas pequenas */
@media (max-width: 480px) {
    .projeto-card {
        flex-direction: column;
    }
    .card-sigla {
        padding: 20px;
    }
}